@use 'sass:math';

// Typography
:root {
  --measure: 60ch;
  --ratio: 1.5;

  // Size scale
  --s-base: 1rem;
  --s-1: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-4) / var(--ratio));
  --s-4: var(--s-base);
  --s-5: calc(var(--s-4) * var(--ratio));
  --s-6: calc(var(--s-5) * var(--ratio));
  --s-7: calc(var(--s-6) * var(--ratio));
  --s-8: calc(var(--s-7) * var(--ratio));
  --s-9: calc(var(--s-8) * var(--ratio));
}
